.hidden-button {
  cursor: pointer;
  outline: 0;
  color: black;
  background-color: #e7e7e7;
  border-color: #e7e7e7;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  :hover {
    color: black;
    background-color: #e7e7e7;
    border-color: #e7e7e7;
  }
}
.type-tours .hidden-button {
  opacity: 0; /* Make the button invisible */
  transition: opacity 0.3s; /* Smooth transition */
}
.type-tours:hover .hidden-button {
  opacity: 1; /* Make the button visible on hover */
}
